<html>
    <head>
        <title>goglitch</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../node_modules/element-ui/lib/theme-chalk/index.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <el-container id="app">
            <el-header height="50" class="gmd-2">
                    <el-row :gutter="10">
                            <el-col :xs="20" :sm="20" :md="22" :lg="22" :xl="22"><h1><i>GOGLITCH</i></h1></el-col>
                            <el-col :xs="4" :sm="4" :md="2" :lg="2" :xl="2">
                                    <el-container>
                                        <el-main>
                                            <el-button class="info-btn" icon="el-icon-info" circle @click="showInfo"></el-button>
                                        </el-main>
                                    </el-container>
                            </el-col>
                          </el-row>
            </el-header>
            <el-container>
                <el-aside width="260px" class="gmd-2">
                    <el-button type="Plain" @click="selectFile()" class="upload-btn" :loading="uploadingImage" :disabled="uploadingImage">
                        <i class="el-icon-upload"></i>
                        select image
                    </el-button>
                    <input type="file" ref="image_file" accept="image/*" @change="submitImage()" class="hidden">
                    
                    <div v-if="imageUploaded">
                        <h3>{{ filename }}</h3>
                        <div class="image-container sidebar-image-container">
                            <img class="sidebar-image" :src="sidebarImgUrl">
                        </div>

                        <div class="effect-control-panel">
                            <div ref="effectLayers" >
                                <effect-card v-for="effect in effectLayers" v-bind:id="effect.id" v-bind:name="effect.name" v-bind:key="effect.effect_key+effect.id"></effect-card>
                            </div>

                            <el-dropdown trigger="click" @command="newEffectLayer">
                                <el-button type="Plain">
                                    add effect
                                    <i class="el-icon-arrow-down el-icon--right"></i>
                                </el-button>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item v-for="opt in effectOptions" v-bind:key="opt.effect_key+opt.id"  :command="opt">{{ opt.name }}</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>

                            <el-button type="Plain" class="process-btn" @click="processImage()" :loading="processingImage" :disabled="processingImage">{{ processBtnText }}</el-button>
                        </div>

                    </div>
                </el-aside>
                <el-container class="workspace-container">
                <el-main class="workspace">
                    <div id="main-image-container" v-loading="processingImage" element-loading-background="rgba(255, 255, 255, 0.2)" class="image-container main-image-container">
                        <h3 v-if="!imageUploaded" class="intro-text" >Upload an image to begiiiin</h3>
                        <img v-if="imageProcessed" id="main-image" class="main-image" :src="mainImgUrl">
                    </div>
                </el-main>
                </el-container>
            </el-container>
        </el-container>

        <script src="node_modules/vue/dist/vue.js"></script>
        <script src="node_modules/axios/dist/axios.js"></script>
        <script src="../../node_modules/element-ui/lib/index.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>