<!DOCTYPE html>
<html>
    <head>
        <title>goGlitch</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/styles.css">

    </head>
    <body>
        <h1>goGlitch v0.0.1</h1>
        <p>
            welcome to goGlitch, where hopefully, in time, you will be able to use some tools I've created
            for glitching some images
        </p>
        
        <form action="/upload_image" enctype="multipart/form-data" method="POST">
            <input type="file" name="pic" accept="image/*">
            <input type="submit">
        </form>
    </body>
</html>