<!DOCTYPE html>
<html>
    <head>
        <title>goGlitch</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/styles.css">

    </head>
    <body>
        <h1>goGlitch v0.0.1</h1>
        
        <form action="/upload_image" enctype="multipart/form-data" method="POST">
            <input type="file" name="picture" accept="image/*">
            <input type="submit">
        </form>

        <div>
            <h2>{{.Filename}}</h2>
            <input type="button" id="process" value="process image">
            <div class="workspace">
                <div class="image-container source-image-container">
                    <img class="source-image" src="source_image/{{.Filename}}">
                </div>
                <div id="processed-image-container" class="image-container processed-image-container">
                    <div id="processing-spinner" class="hidden lds-hourglass"></div>
                    <img id="processed-image" class="processed-image" src="source_image/placeholder.png">
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>