<!DOCTYPE html>
<html>
    <head>
        <title>goGlitch</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/styles.css">

    </head>
    <body>
        <h1>goGlitch v0.0.1</h1>
        
        <form action="/upload_image" enctype="multipart/form-data" method="POST">
            <input type="file" name="picture" accept="image/*">
            <input type="submit">
        </form>

        <div>
            <h2>{{.Filename}}</h2>
            <div class="image-container">
                <img class="source-image" src="source_image/{{.Filename}}">
            </div>
        </div>
    </body>
</html>