@font-face {
    font-family: 'njfont-light';
    src: url('/fonts/NJFont-Light.ttf') format('truetype');
}

body {
    background-color: #202020;
    color: #A9A9A9;
    font-family: 'njfont-light';
}

header.el-header {
  padding-right: 0px;
}

header button.info-btn {
  float: right;
  background-color: rgba(0, 0, 0, 0);
  color: #A9A9A9;
}

header button.info-btn:hover,
header button.info-btn:focus {
  color: #838383;
  border-color: #838383;
  background-color: #202020;
}

aside .sidebar-image {
  max-height: 200px;
  max-width: 220px;
}

aside .upload-btn {
  margin-top: 20px;
}

aside .process-btn {
  margin-top: 10px;
}

aside button {
  width: 100%;
}

.hidden {
    visibility: hidden;
    display: none;
}