@font-face {
    font-family: 'njfont-light';
    src: url('/fonts/NJFont-Light.ttf') format('truetype');
}

body {
    background-color: #202020;
    color: #A9A9A9;
    font-family: 'njfont-light';
    margin: 0;
}

h1 {
  margin-top: 11px;
  margin-bottom: 11px;
}

.el-button:focus, .el-button:hover {
  color: #838383;
  border-color: #838383;
  background-color: #ecf5ff;
}

header.el-header {
  padding-right: 0px;
  background-color: #3a3a3a;
}

header button.info-btn {
  float: right;
  background-color: rgba(0, 0, 0, 0);
  color: #A9A9A9;
}

header button.info-btn:hover,
header button.info-btn:focus {
  color: #838383;
  border-color: #838383;
  background-color: #202020;
}

header .el-main {
  padding: 5px;
}

.el-header > .el-row {
  margin: 0 !important;
}

img.sidebar-image,
img.main-image {
  display: block;
  margin: auto;
}

aside {
  background-color: #3a3a3a;
  padding: 5px;
  position: absolute;
  top: 50px;
  bottom: 0;
}

aside .sidebar-image {
  max-height: 200px;
  max-width: 210px;
}

aside .upload-btn {
  margin-top: 20px;
}

aside .process-btn,
aside div.el-dropdown,
aside div.el-card {
  margin-top: 10px;
}

aside button:not(.del-effect-btn),
aside div.el-dropdown {
  width: 100%;
}

aside button.del-effect-btn {
  float: right; 
  padding: 3px 0;
}

aside .el-card__header,
aside .el-card__body {
  padding: 8px;
}

aside .effect-card .header {
  text-transform: uppercase;
  font-weight: 900;
}

.el-container.workspace-container {
  position: absolute;
  top: 50px;
  left: 260px;
  right: 0;
  bottom: 0;
}

main.el-main.workspace {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

img.main-image {
  width: 100%;
}

h3.intro-text {
  margin: auto;
  width: 300px;
  margin-top: 200px;
}

.hidden {
    visibility: hidden;
    display: none;
}

.gmd-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}